
.container{
  .container();
}


.viewHelpers{
  [class*=col]{
    .baseline();
  }
}

.BP-medium-up({ // @MEDIUM UP BREAKPOINT
  [class*=col]{
    margin-right: 1%;
    float: left;
    &.last{
      & + [class*=col]{
        clear: left;
      }
    }
  }
  .col-one{
    width: (100/12 * 1%) - 1%;
    &.last{
      width: (100/12 * 1%);
    }
  }
  .col-two{
    width: (100/12 * 2%) - 1%;
    &.last{
      width: (100/12 * 2%);
    }
  }
  .col-three{
    width: (100/12 * 3%) - 1%;
    &.last{
      width: (100/12 * 3%);
    }
  }
  .col-four{
    width: (100/12 * 4%) - 1%;
    &.last{
      width: (100/12 * 4%);
    }
  }
  .col-six{
    width: (100/12 * 6%) - 1%;
    &.last{
      width: (100/12 * 6%);
    }
  }
  .col-eight{
    width: (100/12 * 8%) - 1%;
    &.last{
      width: (100/12 * 8%);
    }
  }
  .last{
    float:right;
    margin-right: 0;
  }
});

.asideBg{
  .BP-medium-up({ // @MEDIUM UP BREAKPOINT
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    width:33.3333%;
    &:before{
      content: '';
      background: #f3f4f5;
      right:0;
      left: -200%;
      display: block;
      bottom: 0;
      position: absolute;
      z-index: -1;
      top: 0;
    }
  });
}


