<article class="container">
    <main class="col-eight">
        <h1>Layout article</h1>
        <p class="ingress">NTF og NITO Takst inngikk i 2013 avtale med Eiendom Norge om bruk av tilstandsrapport basert på en teknisk tilstandsanalyse (NS3600). Bakgrunnen for avtalen var et initiativ fra Eiendom Norge som hadde fattet vedtak om å innføre obligatorisk boligsalgsrapport fra 2015. Formålet med avtalen var blant annet å redusere det høye antallet konflikter i forbindelse med boligtransaksjoner.</p>
        <h2>Målgruppe</h2>
        <p>NTF og NITO Takst inngikk i 2013 avtale med Eiendom Norge om bruk av tilstandsrapport basert på en teknisk tilstandsanalyse (NS3600). Bakgrunnen for avtalen var et initiativ fra Eiendom Norge som hadde fattet vedtak om å innføre obligatorisk boligsalgsrapport fra 2015. Formålet med avtalen var blant annet å redusere det høye antallet konflikter i forbindelse med boligtransaksjoner.</p>
        <ul>
            <li>Liste</li>
            <li><p>You’ll be given the embed code for that kit; copy and paste it into your site’s tag. (If you're <a href="http://www.vg.no">external link,</a> you can copy the Kit ID—the seven-character alphanumeric code listed at the bottom of the window —into your blog's settings instead. Read more about using Typekit on your blog.)</p></li>
            <li>Liste</li>
        </ul>
        <p>You’ll be given the <a href="test.html">Internal link</a> embed code for that kit; copy and paste it into your site’s tag. (If you're using Typekit with some blogging platforms, you can copy the Kit ID—the seven-character alphanumeric code listed at the bottom of the window —into your blog's settings instead. Read more about using Typekit on your blog.)</p>
        <table>
            <thead>
            <tr>
                <th scope="column">
                    Tablehead
                </th>
                <th scope="column">
                    Head
                </th>
                <th scope="column">
                    Head
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Tablebody
                </td>
                <td>
                    Etternavn
                </td>
                <td>
                    Telefonnummer
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    <aside class="col-four">
        <p>You’ll be given the embed code for that kit; copy and paste it into your site’s tag. (If you're using Typekit with some blogging platforms, you can copy the Kit ID—the seven-character alphanumeric code listed at the bottom of the window —into your blog's settings instead. Read more about using Typekit on your blog.)</p>
    </aside>
</article>
