<section class="banner banner--image">
    <img src="../img/oljeplattform.jpg">
    <div class="banner__container">
        <div class="banner__content">
            <a href="artikkellink.html" class="link--block">
                <h1 class="banner__content__title">5000 ingeniører mistet jobben i Oljebransjen, og flere kutt vil komme</h1>
                <span class="link">Dine rettigheter ved oppsigelse</span>
            </a>
        </div>
    </div>
</section>