<div class="container">
    <h1>Colors</h1>
    <div class="colorboxBlue col-three">@blue </div>
    <div class="colorboxGreen col-three">@green </div>
    <div class="colorboxGreenDark col-three">@greenDark </div>
    <div class="colorboxRed col-three">@red </div>
</div>