<main class="course">
    <article class="course__article">
        <header class="course__header col-eight last">
            <a href="">Kurs og arrangementer</a>
            <h1>Forberedelese til elektroinnstallatørprøven</h1>
        </header>
        <aside class="course__sidebar col-four">
            Dato tid etc
        </aside>
        <div class="course__main col-eight last">
            <div class="signUp">
                Påmelding
            </div>
            <h2>Målgruppe</h2>
            <p>Tekst</p>
        </div>
        <footer class="course__footer col-eight last">
            Social
        </footer>
    </article>
    <div class="asideBg"></div>
</main>
