<div class="bg-greyLight">
    <section class="frontpage-news container">
        <article class="col-four">
            <a href="#" class="blockLink">
                <img src="../img/fuglesang.jpg">
                <h2>Forbrukerne taper når Eiendom Norge trekker seg fra avtale</h2>
            </a>
        </article>
        <article class="col-four">
            <a href="#" class="blockLink">
                <img src="../img/fuglesang.jpg">
                <h2>Forbrukerne taper når Eiendom Norge trekker seg fra avtale</h2>
            </a>
        </article>
        <article class="col-four last">
            <a href="#" class="blockLink">
                <img src="../img/fuglesang.jpg">
                <h2>Forbrukerne taper når Eiendom Norge trekker seg fra avtale</h2>
            </a>
        </article>
    </section>
</div>