<div class="bg--greyLight">
    <section class="frontpage-news">
        <article class="frontpage-news__article col-four">
            <a href="#" class="link--block">
                <img src="../img/fuglesang.jpg" class="frontpage-news__img">
                <h2 class="frontpage-news__title">Forbrukerne taper når Eiendom Norge trekker seg fra avtale</h2>
            </a>
        </article>
        <article class="frontpage-news__article col-four">
            <a href="#" class="link--block">
                <img src="../img/fuglesang.jpg" class="frontpage-news__img">
                <h2 class="frontpage-news__title">Forbrukerne taper når Eiendom Norge trekker seg fra avtale</h2>
            </a>
        </article>
        <article class="frontpage-news__article col-four last">
            <a href="#" class="link--block">
                <img src="../img/fuglesang.jpg" class="frontpage-news__img">
                <h2 class="frontpage-news__title">Forbrukerne taper når Eiendom Norge trekker seg fra avtale</h2>
            </a>
        </article>
    </section>
</div>