<div class="container">
    <h1>Grid</h1>
    <div class="col-four">.col-four</div>
    <div class="col-eight last">.col-eight .last</div>
    <div class="col-six">.col-six</div>
    <div class="col-six last">.col-six .last</div>
    <div class="col-three">.col-three</div>
    <div class="col-three">.col-three</div>
    <div class="col-three">.col-three</div>
    <div class="col-three last">.col-three .last</div>
    <div class="col-four">.col-four</div>
    <div class="col-four">.col-four</div>
    <div class="col-four last">.col-four .last</div>
</div>