<header class="mainHeader">
    <div class="container mastHead">
        <div class="mainHeaderLogo">
            <img src="../gfx/logo-nito-tagline.svg" class="hide-for-small hide-for-medium">
            <img src="../gfx/logo-nito.svg" class="hide-for-large">
        </div>
        <div class="mainHeaderTools hide-for-small hide-for-medium">
            <div class="searchField">
                <input type="search" placeholder="Søk"><input type="button" value="Søk">
            </div>
            <button class="btn-red">Logg inn</button>
        </div>
    </div>
    <nav class="mainNavigation">
        <button class="hide-for-large menuToggler js-menuToggler">Meny</button>
        <ul class="mainNavigationList js-mainNavigationList">
            <li><a href="">LØNN</a></li>
            <li><a href="">MEDLEM</a></li>
            <li><a href="">KURS OG ARRANGEMENTER</a></li>
            <li><a href="">FAGMILJØER</a></li>
            <li><a href="">AVDELINGER</a></li>
            <li><a href="">KAMPSAKER</a></li>
        </ul>
    </nav>
</header>