<header class="main-header" role="banner">

    <div class="masthead">
        <div class="masthead__logo">
            <a href="index.html" class="blockLink">
                <h1 class="masthead__title" aria-hidden="false">NITO</h1>
                <img src="../gfx/logo-nito-tagline.svg" class="masthead__logo--large">
                <img src="../gfx/logo-nito.svg" class="masthead__logo--small">
            </a>
        </div>

        <div class="masthead__tools">
            <div class="search-field" role="search">
                <input type="search"><input type="button" value="Søk" class="btn btn--grey">
            </div>
            <a href="login.html" class="btn btn--red">Logg inn</a>
        </div>
    </div>

    <nav class="header-nav" aria-labelledby="menuToggler" role="navigation">
        <button id="menuToggler" class="btn btn--menuToggler js-btn-menuToggler" role="button" aria-controls="main-nav__list" aria-haspopup="true">Meny</button>
        <ul id="header-nav__list" class="header-nav__list js-mainNavigationList" role="menubar" aria-hidden="true">
            <li class="header-nav__listitem" role="menuitem"><a class="header-nav__link" href="">LØNN</a></li>
            <li class="header-nav__listitem" role="menuitem"><a class="header-nav__link"  href="">MEDLEM</a></li>
            <li class="header-nav__listitem" role="menuitem"><a class="header-nav__link"  href="course.html">KURS OG ARRANGEMENTER</a></li>
            <li class="header-nav__listitem" role="menuitem"><a class="header-nav__link"  href="">FAGMILJØER</a></li>
            <li class="header-nav__listitem" role="menuitem"><a class="header-nav__link"  href="">AVDELINGER</a></li>
            <li class="header-nav__listitem" role="menuitem"><a class="header-nav__link"  href="">KAMPSAKER</a></li>
        </ul>
    </nav>
</header>
