<footer class="main-footer">
    <nav class="footer-nav">
        <ul class="footer-nav__list">
            <li class="footer-nav__listitem" role="menuitem"><a class="footer-nav__link" href="">LØNN</a></li>
            <li class="footer-nav__listitem" role="menuitem"><a class="footer-nav__link" href="">MEDLEM</a></li>
            <li class="footer-nav__listitem" role="menuitem"><a class="footer-nav__link" href="course.html">KURS OG ARRANGEMENTER</a></li>
            <li class="footer-nav__listitem" role="menuitem"><a class="footer-nav__link" href="">FAGMILJØER</a></li>
            <li class="footer-nav__listitem" role="menuitem"><a class="footer-nav__link" href="">AVDELINGER</a></li>
            <li class="footer-nav__listitem" role="menuitem"><a class="footer-nav__link" href="">KAMPSAKER</a></li>
        </ul>
    </nav>
    <div class="container">
        <p>NITO er Norges største organisasjon for ingeniører og teknologer med 76 784 medlemmer (pr. 01.10.2014). NITO organiserer ingeniører og teknologer med høgskole-, universitetsutdanning eller tilsvarende kompetanse.</p>
        <p>Organisasjonsnummer: 856 331 482</p>
    </div>
</footer>