<footer class="mainFooter">
    <nav class="footerNavigation">
        <button class="hide-for-large hide-for-medium menuToggler js-menuToggler">Meny</button>
        <ul class="footerNavigationList js-footerNavigationList">
            <li><a href="">LØNN</a></li>
            <li><a href="">MEDLEM</a></li>
            <li><a href="">KURS OG ARRANGEMENTER</a></li>
            <li><a href="">FAGMILJØER</a></li>
            <li><a href="">AVDELINGER</a></li>
            <li><a href="">KAMPSAKER</a></li>
        </ul>
    </nav>
    <div class="container">
    <p>NITO er Norges største organisasjon for ingeniører og teknologer med 76 784 medlemmer (pr. 01.10.2014). NITO organiserer ingeniører og teknologer med høgskole-, universitetsutdanning eller tilsvarende kompetanse.</p>
    <p>Organisasjonsnummer: 856 331 482</p>
    </div>
</footer>