<article id="typography" class="container">
    <div class="col">
    <h1>(h1) Typography</h1>
    <p class="ingress">(p.ingress) «NTF og NITO Takst har ingen reell mulighet til å fremtvinge at Eiendom Norge etterlever avtalen i tråd med dens innhold. Det krever en vilje til å etterleve avtalen som Eiendom Norge simpelthen ikke har. Vi må derfor med skuffelse konstatere at avtalen ikke vil bli satt ut i live slik vi hele tiden har forutsatt.», sier Espen Fuglesang, administrerende direktør i NITO takst</p>
    <p>(p) NTF og Nito Takst vurderer saken slik at det er viktig å stå fast på vedtak og ambisjoner om å innføre Boligsalgssrapporten som ny standard ved å tilby denne fra 1. januar. Ved å trekke seg fra avtalen har Eiendom Norge skapt en uklar situasjon med mange ubesvarte spørsmål. De respektive styrene vurderer nå hvordan de best mulig kan sørge for at den nye boligsalgsrapporten tas i bruk til tross for at Eiendom Norge har trukket seg fra avtalen.</p>
    <h2>(h2) Holder fast ved oppstartsdato</h2>
    </div>
</article>