<% layout('_layouts/default') -%>
<!-- Each module defined in gruntfile -->
<% for(var i=0; i<styleguidemodules.length; i++) {%>
<div class="html-element">
    <div class="styleguide-tools">
        <button class="helper-toggler">Grid</button>
        <button class="html-toggler">HTML</button>
    </div>
    <div class="live-example">
<%- partial(styleguidemodules[i]) %>
    </div>
</div>
<% } %>
